<?xml version='1.0' encoding='utf-8'?>
<widget id="org.coenraets.olympics" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Olympics</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="ccoenraets@gmail.com" href="http://cordova.io">
        Christophe Coenraets
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
